{% include 'top.html.twig' %}

{% if profiles is not empty %}
{% for profile in profiles %}
<div class = "container">
  <div class = "row">
    <div class = "col m12">
      <h2>Search Results</h2>
      <div class = "myprofile">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{ profile.getPicture }}" height="100" width="100">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <ul>
                <li><a href="/viewprofile/{{ profile.getFirstName }}/{{ profile.getId }}/{{ user_id }}">{{ profile.getFirstName }} {{ profile.getLastName }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              {% endfor %}
              {% endif %}

              {% if msg is not empty %}
                {{ msg }}
              {% endif %}

{% include 'sidenav.html.twig' %}
{% include 'bottom.html.twig' %}
